body {
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: Exo, sans-serif;

}

.error{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 10%;
  font-size: 6em;
  color: white;
  background-color:red;
  z-index: 9999;
}

.nope {
	display: none;
}

.percent {
	display: block;
	font-size: .8em;
	background: #000;
	color: #fff;
	height: 20px !important; /*I'm gonna go to hell */
	text-align: center;
	padding: 0 !important;
}

header {
	height: 350px;
	background-image: url('../img/room.jpg');
}

header h1{
	background: #000;
	display: inline-block;
	padding: 10px;
	font-weight: 700;
	margin-top: 200px;
}

header h1 a{
	color: #fff;
	text-decoration: none;
}

header h1 a:hover{
	color: #fff;
	text-decoration: none;
}

header p{
	font-size: 1.5em;
	font-weight: 500;
	color: #fff;
}

header .restart{
	display:none;
}

header iframe{
	margin-top: 40px;
}

.categories_list .category{
	font-size: 1.2em;
	cursor: pointer;
	/*height: 350px;*/
	margin-bottom: 10px;
}

.category span:not(.percent){
	display: block;
	height: 90px;
	padding: 5px;
}
.category img{
	width: 100%;
	height: 250px;
}

.active span{
	background: #000;
	color: #fff;
}

.active img{
	border: 2px solid #000;
}

.range span{
	font-size: .8em;
	display: block;
}

textarea {
	width: 100%;
	height: 100px;
}

.btn-404{
	background: #000;
	color: #fff;
	font-size: 1.2em;
	margin: 20px 0;
}

.btn-404:hover {
	background: #008cff;
	color: #fff;
}

.scene h1 {
	font-weight: 700;
	margin: 40px 0;
	font-size: 1.8em;
}

.scene h2 {
	font-weight: 500;
	font-size: 1.5em;
}

.scene .separator{
	margin-top: 40px;
}

.grid {
	border-radius: 15px;
	background: #fff;
	border: 2px solid #bbb;
	padding: 12px;
	margin: 10px;
}

.grid img{
	display: block;
	width: 90px;
}

.mine {
	border: 5px solid #2075ba;
	color: #2075ba; 
}

.score1{
	font-size: 1em;

}
.score2{
	font-size: 1.2em;
}
.score3{
	font-size: 1.4em;
}
.score4{
	font-size: 1.6em;
}
.score5{
	font-size: 2em;
}

.restart {
	text-align: center;
	margin-top: 50px;
	cursor:pointer;
}

.restart a{
	font-size: 3em;
	background: #fff;
	padding: 10px;
	text-decoration: none;
	color: #000;
}

[data-columns]::before {
	content: '3 .column.size-1of3';
	visibility: hidden;
	position: absolute;
	font-size: 1px;
}

/* These are the classes that are going to be applied: */
.column { float: left; }
.size-1of3 { width: 33.333%; }

/*Oh god!*/
.container{
	max-width: none !important;
	width: 970px;
}

footer{
	margin: 100px 0;
	font-size: 1.2em;
}
