body {
	width: 100%;
	height: 100%;
	margin: 0;

}

.hidden {
	display: none;
}

.scene {
	margin: 10px 10px 45px 10px;
}


footer {
	position: absolute;
	box-sizing: border-box;
	bottom: 0;
	width: 100%;
	background: #eee;
	padding: 10px;
}
