<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

		<link href='http://fonts.googleapis.com/css?family=Exo:400,500,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
		<header class="main">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h1><a href="/">Room 404</a></h1>
						<p>The destination for all your online mistakes</p>
					</div>
					<div id="video" class="col-md-6">
						<iframe src="//player.vimeo.com/video/92659626" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
					</div>

				</div>

			</div>
			
			
		</header>
		<div class="container">
			<section id="scene-a" class="scene">
				<h1>Have you ever...?</h1>

				<div id="categories" class="categories_list row">
				
				</div>

				<button id="goto-b" type="submit" class="btn btn-404" disabled>Submit</button>

			</section>

			<section id="scene-b" class="scene nope">

				<div id="chosen_categories" class="categories_list row">
				<h1>You really did that? Well, you're not alone. Room 404 is getting quite full, so nominate just one of your mistakes to send there.</h1>
				
				</div>

			<div id="form" class="submit-box nope row">
				<h1>Tell us a little more</h1>
				<textarea id="confession"></textarea>
				<h1>Rate how this made you feel on the Morto Meter.</h1>
				<div class="col-md-6 range">
					<img alt="Mild blush" src="{{ url_for('static', filename='img/blush.jpg') }}">
					<span>Mild Blush</span>
				</div>

					<div class="col-md-6 text-right range">
						<img alt="Mild blush" src="{{ url_for('static', filename='img/scarlet.jpg') }}">
						<span>Scarlet</span>
					</div>
					<input type="range" id="score" value="1" min="1" max="5" step="1" />
					<button class="btn btn-404" disabled id="goto-c">Submit</button>
				</div>

			</section>

			<section id="scene-c" class="scene nope">

				<div id="pad" class="row">
					<h1>Rate your mistake against someone else's</h1>
					<div class="row">
					<div id="mine" class="col-md-6">
						<h2>Your mistake</h2>
					</div>

					<div id="other" class="col-md-6">
						<h2>Their mistake</h2>
					</div>
					</div>
					<h2 class="separator">Are your better or worse?</h2>
					<div class="row">
					<div class="col-md-6">
						<button id="better" class="btn btn-404">Better</button>
					</div>
					<div class="col-md-6">
						<button id="worse" class="btn btn-404">Worst</button>
					</div>
				</div>
				</div>

				<div id="enter" class="nope row">
					<h1>Ok, you can enter Room 404</h1>
					<button id="go" class="btn btn-404">Enter Room 404</button>
				</div>

			</section>

			<section id="scene-d" class="scene nope">
				<div id="grid" data-columns>
				</div>

			</section>
		</div>

		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<p>Darklight Festival – Popathon – Storytelling Hackathon</p>
					</div>
					<div class="col-md-6 text-right">
					</div>

				</div>
			</div>
		</footer>

		<script src="https://code.jquery.com/jquery-2.1.0.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

		<script type="text/javascript" charset="utf-8" src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.1.2/masonry.pkgd.min.js"></script>
		<script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='js/helpers.js') }}"></script>
		<script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='js/room404.js') }}"></script>

    </body>
</html>
