<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
		<section id="intro" class="scene">
			<h1>Room 404</h1>
		</section>

		<section id="scene-a" class="scene hidden">
			<h1>Have you ever?</h1>

			<div id="categories">
			
			</div>

			<button id="goto-b" type="submit" disabled>Submit</button>

		</section>

		<section id="scene-b" class="scene hidden">
			<h1>Pick one</h1>

			<div id="chosen_categories">
			
			</div>

			<div id="form" class="submit-box">
				<p>Share more</p>
				<textarea id="confession"></textarea>
				<p>How did this made you feel?</p>
				<input type="range" id="score" value="1" min="1" max="5" step="1" />
				<button disabled id="goto-c">Submit</button>
			</div>

			<div id="drop" class="dropspot">
				drop here
			</div>

		</section>

		<section id="scene-c" class="scene hidden">
			<div class="pad">
				<p id="mine">

				</p>

				<p id="other">

				</p>
			</div>
			Are your better or worse?
			<button id="better">Better</button>
			<button id="worst">Worst</button>

		</section>

		<section id="scene-d" class="scene hidden">

		</section>

		<footer>
			<button>Start again?</button>
		</footer>

		<script src="https://code.jquery.com/jquery-2.1.0.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='js/helpers.js') }}"></script>
		<script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='js/room404.js') }}"></script>

    </body>
</html>
